<div style="width: 100%">
  <div
    class="bg-dark pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
    style="width: 60%; border-radius: 21px; margin: auto"
  >
    <div class="my-3 py-3">
      <h2 class="display-5" style="margin-bottom: 20px">
        {{ user.name }} {{ user.surname }}
      </h2>
      <p>Pesel: {{ user.pesel }}</p>
      <p>Adres e-mail: {{ user.email }}</p>
      <p>Imię ojca: {{ user.fatherName }}</p>
      <div style="max-height: calc(100vh - 400px); overflow-y: auto">
        <table>
          <tr>
            <th>Nazwa</th>
            <th>Status</th>
            <th>Odebrano</th>
          </tr>
          <tr *ngFor="let cert of certificates">
            <td
              *ngIf="!cert.collected"
              (click)="getUnconfirmed(cert.id, stepManagement)"
            >
              {{ cert.certificateName }}
            </td>
            <td
              *ngIf="cert.collected"
              (click)="openAddCertFile(cert.id, certificateFile)"
            >
              {{ cert.certificateName }}
            </td>

            <td
              *ngIf="cert.collected"
              (click)="openAddCertFile(cert.id, certificateFile)"
            >
              <p style="color: green">Uzyskano.</p>
            </td>
            <td
              *ngIf="!cert.collected"
              (click)="getUnconfirmed(cert.id, stepManagement)"
            >
              <p style="color: orange">W trakcie.</p>
            </td>

            <td
              *ngIf="!cert.gained"
              (click)="getUnconfirmed(cert.id, stepManagement)"
            >
              <p style="color: orange">Nie odebrano.</p>
            </td>
            <td
              *ngIf="cert.gained"
              (click)="openAddCertFile(cert.id, certificateFile)"
            >
              <p style="color: green">Odebrano.</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <button
      class="btn btn-success w-100 mb-3"
      (click)="openStartProcedure(procedure)"
    >
      Rozpocznij procedurę
    </button>
    <div class="bg-light shadow-sm mx-auto"></div>
  </div>
</div>

<ng-template #procedure style="width: 900px; box-sizing: content-box">
  <div class="modal-header text-center">
    <div class="text-center w-100">
      <p style="font-weight: bold">Wybór certyfikatu</p>
    </div>
  </div>
  <div class="modal-body">
    <app-certificates
      [isEditable]="false"
      (getCertificateId)="startProcedure($event)"
    ></app-certificates>
  </div>
</ng-template>

<ng-template #stepManagement style="width: 900px; box-sizing: content-box">
  <div class="modal-header text-center">
    <div class="text-center w-100">
      <p style="font-weight: bold">Obecny etap</p>
    </div>
  </div>
  <div class="modal-body">
    <p>Rozpoczęto {{ step.startDate | date: "mediumDate" }}</p>
    <p>Etap: {{ step.stepName }}</p>
    <p>{{ step.stepDescription }}</p>
    <p>Komentarz: {{ step.comment }}</p>
    <button
      class="btn btn-success mb-3"
      (click)="downloadFile(step.userFileId)"
      [disabled]="step.userFileId == null"
    >
      Pobierz załącznik
    </button>
    <div class="input-group mb-3">
      <input
        type="text"
        [(ngModel)]="comment"
        class="form-control"
        placeholder="Komentarz..."
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
      <button
        class="btn btn-success ml-2"
        id="searchCertificates"
        (click)="addComment(step.id)"
        [disabled]="comment.length == 0"
      >
        Skomentuj
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary w-100" (click)="confirmStep(step.id)">
      Zatwierdź
    </button>
  </div>
</ng-template>

<ng-template #certificateFile>
  <div class="modal-header text-center">
    <p style="font-weight: bold; margin: auto">Podgląd</p>
  </div>
  <div class="modal-body">
    <p>Ceryfikat: {{ selectedCertificate.certificateName }}</p>
    <p>Zakończono: {{ selectedCertificate.gainDate | date: "medium" }}</p>
    <p *ngIf="selectedCertificate.collectDate">
      Odebrano: {{ selectedCertificate.collectDate | date: "medium" }}
    </p>
    <p *ngIf="!selectedCertificate.collectDate">
      Odebrano: oczekuje na odebranie.
    </p>
  </div>
  <div class="modal-footer">
    <div class="w-100" style="display: inline-block; width: 100%">
      <input
        #fileInput
        type="file"
        placeholder="Załącznik..."
        (change)="onFileSelect($event)"
        style="float: left; margin-right: auto"
      />
      <button
        class="btn btn-success"
        id="attach"
        style="float: right; margin: auto"
        (click)="addFile()"
        [disabled]="!file"
      >
        Załącz
      </button>
    </div>
    <button
      class="btn btn-success w-100 mb-3"
      id="attach"
      (click)="downloadFile(selectedCertificate.fileId)"
      [disabled]="!selectedCertificate.fileId"
    >
      Pobierz certyfikat
    </button>
    <button
      class="btn btn-primary w-100"
      [disabled]="selectedCertificate.collected"
      (click)="confirmCollecting(selectedCertificate.id)"
    >
      Potwierdź odebranie
    </button>
  </div>
</ng-template>
