<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <a class="navbar-brand">Aplikacje internetowe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" *ngIf="authService.loggedIn()">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a *ngIf="authService.isAdminLogged()" class="p-2 text-light" [routerLink]="['/users']">Użytkownicy</a>
      </li>
      <li class="nav-item">
        <a *ngIf="authService.isAdminLogged()" class="p-2 text-light" [routerLink]="['/certificates']">Certyfikaty</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!authService.isAdminLogged()" class="p-2 text-light" [routerLink]="['/my_certs']">Moje certyfikaty</a>
      </li>     
      <li class="nav-item">
        <a  class="p-2 text-light" [routerLink]="['/ch_pass']">Zmień hasło</a>
      </li> 
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-secondary" (click)="logout()">Wyloguj</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
