<div class="w-100 text-center" style="padding-inline: 40%; padding-top: 5%">
  <div class="bg-dark text-center text-white overflow-hidden" style="border-radius: 22px; padding: 50px;">
    <form
      id="form-login"
      #loginForm="ngForm"
      class="form-signin"
      (ngSubmit)="login()"
    >
      <h3 style="margin-bottom: 50px;">Witaj ponownie!</h3>

      <input
        type="text"
        [(ngModel)]="model.username"
        id="inputUsername"
        class="form-control mb-3"
        name="username"
        placeholder="Nazwa użytkownika"
        required
        autofocus=""
      />

      <input
        class="form-control mb-3"
        [(ngModel)]="model.password"
        type="password"
        id="inputPassword"
        name="password"
        placeholder="Hasło"
        required
      />

      <button
        class="btn btn-success btn-block"
        [disabled]="!loginForm.valid"
        type="submit"
      >
        Zaloguj
      </button>
    </form>
  </div>
</div>
