<div class="w-100 text-center" style="padding-inline: 40%; padding-top: 5%">
  <div class="bg-dark text-center text-white overflow-hidden" style="border-radius: 22px; padding: 50px;">
    <form
      id="form-login"
      #loginForm="ngForm"
      class="form-signin"
      (ngSubmit)="change()"
    >
      <h3 style="margin-bottom: 50px;">Wprowadź nowe hasło</h3>

      <input
        type="password"
        [(ngModel)]="password"
        id="inputUsername"
        class="form-control mb-3"
        name="password"
        placeholder="Hasło"
        required
        autofocus=""
      />

      <input
        class="form-control mb-3"
        [(ngModel)]="confPassword"
        type="password"
        id="inputPassword"
        name="confPassword"
        placeholder="Powtórz hasło"
        required
      />

      <button
        class="btn btn-success btn-block"
        [disabled]="!loginForm.valid || password!=confPassword"
        type="submit"
      >
        Zmień hasło
      </button>
    </form>
  </div>
</div>
